nav {
  display: inline-flex;
  padding: 0%;
  margin: 0px;
}

nav > ul {
  justify-content: center;
  list-style-type: none;
  border: 2px solid black;
  background-color: black;
  height: 38px;
  width: 70em;
  display: flex; 
  align-items: center;
  margin: 0px;
  padding: 0px;
 
}


a {
  text-decoration: none;
  color: white;
  margin: 40px;
}

a:hover{
  background-color: blue;
  color: yellow;
}

.header {
  display: flex;
  justify-content: flex-start;
  background-color: green;
  color: white;
  border: 1px solid black;
  height: 40px;
  align-items: center;
}

main {
  display: inline-flex;
}

.leftSide {
  width: 50%;
  padding: 10px;
  

}

.leftSide > ul {
  list-style-type: none;
} 

#P1 {
  border: 2px solid black;
  margin: 2px;
  display: flex;
}

.P1B1 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;

}

.P1B2 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}

.P1B3 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}


#P2 {
  border: 2px solid black;
  margin: 2px;
  display: flex;
}

.P2B1 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}


.P2B2 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}

.P2B3 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}


#P3 {
  border: 2px solid black;
  margin: 2px;
  display: flex;
}

.P3B1 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}

.P3B2 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}

.P3B3 {
  border: 2px solid black;
  align-items: center;
  margin: 4px;
  background-color: Black;
  color: white;
  
}










.rightSide {
  width: 22.8%;
  border: 2px solid black;
  padding: 10px;
  margin: 4px;
}


